
@{ ViewBag.Title = "ListTicket";
    var data = ViewBag.Data;




}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <img src="@Url.Action("ChartLK")">
    <img src="@Url.Action("ChartLKDana")">
</body>
</html>