<p2><b>&ensp; Success ! Ticket Berhasil Dilaporkan.</b></p2>
<br>
<br>
<p3>
    &ensp; Ticket anda telah berhasil dilaporkan! <b><u>Ticket ID : @ViewBag.ID</u></b>
</p3>
<br>
<p4>
    &ensp; Mohon cek kembali email anda! Notifikasi ticket akan dikirimkan melalui email anda.
</p4>
<br>
<br>
<br>
<p5>
    &ensp; Note : Harap simpan Ticket ID untuk melakukan pengecekan tiket kembali.
</p5>
<br>
<br>
<a href='https://localhost:44306/Form/GetTicket?ID=@ViewBag.ID'> &ensp; <u> Silahkan Cek Disini</u></a>